&mtk_leds {
	compatible = "mediatek,disp-leds";
	/*HS07 code for HS07-4781 by huangyin at 20250627 start*/
	/*HS07 code for HS07-47 by huangyin at 20250304 start*/
	backlight {
		label = "lcd-backlight";
		led_mode = <4>;
		gate_enable = <0>;
		pwm_config = <0 1 0 0 0>;
		max-brightness = <255>;
		max-hw-brightness = <4095>;
		min-brightness = <1>;
		min-hw-brightness = <1>;
		default-state = "ten-percent";
	};
	/*HS07 code for HS07-47 by huangyin at 20250304 end*/
	/*HS07 code for HS07-4781 by huangyin at 20250627 end*/
};

&pio {
	mtkfb_pins_lcm_rst_out1_gpio: lcm_rst_out1_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO85__FUNC_GPIO85>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcm_rst_out0_gpio: lcm_rst_out0_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO85__FUNC_GPIO85>;
			slew-rate = <1>;
			output-low;
		};
	};
	mtkfb_pins_lcm_dsi_te: lcm_dsi_te {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO83__FUNC_DSI_TE>;
		};
	};
	/*HS07 code for HS07-354 by huangyin at 20250407 start*/
	ctp_rst_pin_low: ctp_rst_pin_low {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO155__FUNC_GPIO155>;
			slew-rate = <1>;
			output-low;
		};
	};
	ctp_rst_pin_high: ctp_rst_pin_high {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO155__FUNC_GPIO155>;
			slew-rate = <1>;
			output-high;
		};
	};
	/*HS07 code for HS07-354 by huangyin at 20250407 end*/
};

&mtkfb {
	pinctrl-names = "lcm_rst_out1_gpio", "lcm_rst_out0_gpio",
	"mode_te_te";
	pinctrl-0 = <&mtkfb_pins_lcm_rst_out1_gpio>;
	pinctrl-1 = <&mtkfb_pins_lcm_rst_out0_gpio>;
	pinctrl-2 = <&mtkfb_pins_lcm_dsi_te>;
	status = "okay";
};

&dispsys_config {
	pinctrl-names =
		"lcm_rst_out1_gpio", "lcm_rst_out0_gpio",
		"mode_te_te";
	pinctrl-0 = <&mtkfb_pins_lcm_rst_out1_gpio>;
	pinctrl-1 = <&mtkfb_pins_lcm_rst_out0_gpio>;
	pinctrl-2 = <&mtkfb_pins_lcm_dsi_te>;
	status = "okay";
};

&dsi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	panel1@0 {
		compatible = "panel,lcm,video";
		reg = <0>;
		/*HS07 code for HS07-354 by huangyin at 20250407 start*/
		reset-gpios = <&pio 85 0>;//lcm rst
		bias-gpios = <&pio 156 0>, <&pio 157 0>;//vsp.vsn
		pinctrl-names = "ctp_rst_pin_low","ctp_rst_pin_high";
		pinctrl-0 = <&ctp_rst_pin_low>;
		pinctrl-1 = <&ctp_rst_pin_high>;
		/*HS07 code for HS07-354 by huangyin at 20250407 end*/
		port {
			panel_in1: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};

	ports {
		port {
			dsi_out: endpoint {
				remote-endpoint = <&panel_in1>;
			};
		};
	};
};

&i2c6 {
	i2c_lcd_bias_mtk_official:i2c_lcd_bias@3e {
		compatible = "mediatek,i2c_lcd_bias";
		reg = <0x3e>;
		id = <6>;
		status = "okay";
	};
};
