CONFIG_CUSTOM_PROJECT_HS07=y
# HS07 code for HS07-10 by xiongxiaoliang at 20250221 start
# HS07 code for HS07-752 by xiongxiaoliang at 20250415 start
CONFIG_CUSTOM_USBIF=m
# HS07 code for HS07-752 by xiongxiaoliang at 20250415 end
CONFIG_BATTERY_ID_ADC=m
CONFIG_CHARGER_UPM6922P=m
CONFIG_TCPC_UPM6922P=m
# HS07 code for SR-AL7761A-01-164 by lina at 20250314 start
CONFIG_SCV89601P_CHARGER=m
CONFIG_TCPC_SCV89601P_PD=m
# HS07 code for SR-AL7761A-01-164 by lina at 20250314 end
CONFIG_GXY_PSY_SYSFS=m
CONFIG_AFC_CHARGER=m
CONFIG_GXY_VBUS_CTRL=m
# HS07 code for HS07-10 by xiongxiaoliang at 20250221 end
#HS07 V code for SR-AL7761A-01-373 by zhongbin at 2025/03/25 start
CONFIG_CUSTOM_KERNEL_IMGSENSOR="a0701txdbacks5kjn1_mipi_raw a0702txdbackgc50e1_mipi_raw a0703xlbackgc50e1_mipi_raw a0704xlbacks5kjn1_mipi_raw a0705lybackgc50e1_mipi_raw a0701cxtfrontgc08a8_mipi_raw a0702lyfrontmt815_mipi_raw a0703ddfrontsc820cs_mipi_raw a0701cxtdepthsc201cs_mipi_raw a0702wxdepthov02f_mipi_raw"
#HS07 V code for SR-AL7761A-01-373 by zhongbin at 2025/03/25 end
CONFIG_MTK_FLASHLIGHT_SGM3785_GPIO=y
# HS07 code for HS07-6 by huangyin at 20250221 start
CONFIG_DRM_PANEL_BIAS_VDO=m
# HS07 code for SR-AL7761A-01-584 by huangyin at 20250314 start
CONFIG_DRM_LCD_HX83108D_XX_HKC_MIPI_HD_VIDEO=m
# HS07 code for SR-AL7761A-01-584 by huangyin at 20250314 end
#HS07 code for SR-AL7761A-01-588 by guyuming at 20250319 start
CONFIG_DRM_LCD_NL9916X_TXD_BOE_MIPI_HD_VIDEO=m
#HS07 code for SR-AL7761A-01-588 by guyuming at 20250319 end
#HS07 code for SR-AL7761A-01-288 by guyuming at 20250313 start
CONFIG_DRM_LCD_NL9916X_LD_HKC_MIPI_HD_VIDEO=m
#HS07 code for SR-AL7761A-01-288 by guyuming at 20250313 end
#HS07 code for SR-AL7761A-01-287 by huangyin at 20250319 start
CONFIG_DRM_LCD_GC7272_XX_HSD_MIPI_HD_VIDEO=m
#HS07 code for SR-AL7761A-01-287 by huangyin at 20250319 end
#HS07 code for SR-AL7761A-01-555 by guyuming at 20250330 start
CONFIG_DRM_LCD_NL9916X_XX_TM_MIPI_HD_VIDEO=m
#HS07 code for SR-AL7761A-01-555 by guyuming at 20250330 end
#HS07 code for HS07-2288 by huangyin at 20250501 start
CONFIG_DRM_LCD_NL9916X_TXD_CSOT_MIPI_HD_VIDEO=m
#HS07 code for HS07-2288 by huangyin at 20250501 end
#HS07 code for HS07-2659 by guyuming at 20250508 start
CONFIG_DRM_LCD_NL9916X_TXD_BOE_HH_MIPI_HD_VIDEO=m
#HS07 code for HS07-2659 by guyuming at 20250508 end
CONFIG_DRM_LCD_GC7272_XX_BOE_MIPI_HD_VIDEO=m
CONFIG_DRM_LCD_DEFAULT_MIPI_HD_VIDEO=m
CONFIG_ODM_SEC_COMMON=m
# HS07 code for SR-AL7761A-01-584 by huangyin at 20250314 start
CONFIG_TOUCHSCREEN_MTK_TOUCH="hxchipset chipone galaxycore"
# HS07 code for SR-AL7761A-01-584 by huangyin at 20250314 end
# HS07 code for HS07-6 by huangyin at 20250221 end
# HS07 code for HS07-12 by yexuedong at 20250221 start
CONFIG_CHARGER_CP_PPS=m
CONFIG_NX853X_CP=m
# HS07 code for HS07-12 by yexuedong at 20250221 end
# HS07 code for SR-AL7761A-01-167 by yexuedong at 20250307 start
CONFIG_SP2131_CP=m
# HS07 code for SR-AL7761A-01-167 by yexuedong at 20250307 end
# HS07 code for HS07-215 by huofudong at 20250326 start
CONFIG_UPM6726_CP=m
# HS07 code for HS07-2963 by yexuedong at 20250515 start
CONFIG_SGM41608_CP=m
# HS07 code for HS07-2963 by yexuedong at 20250515 end
# HS07 code for HS07-215 by huofudong at 20250326 end
# HS07 code for HS07-26 by gaochao at 20250226 start
CONFIG_HQ_SIM_TRAY_CHECK=m
# HS07 code for HS07-26 by gaochao at 20250226 end
# HS07 code for HS07-32 by wangletian at 20250227 start
CONFIG_KNOXVAULT_POWER=m
# CONFIG_I2C_KNOXVAULTDEV is not set
# HS07 code for HS07-32 by wangletian at 20250227 end
# HS07 code for HS07-9 by huofudong at 20250221 start
CONFIG_INPUT_SAR=m
CONFIG_SAR_SX9378=m
CONFIG_SAR_HX9031=m
# HS07 code for HS07-9 by huofudong at 20250221 end
# HS07 code for HS07-28 by hujincan at 20250225 start
CONFIG_SND_SOC_AW87XXX=m
# HS07 code for HS07-28 by hujincan at 20250225 end
CONFIG_SND_SOC_ANALOG_PA=m
# HS07 code for HS07-5 by hehaoran at 20250221 start
CONFIG_INPUT_FINGERPRINT_SUPPORT=m
CONFIG_FINGERPRINT_HS07_SUPPORT=m
# HS07 code for SR-AL7761A-01-172 by hehaoran at 20250317 start
CONFIG_FINGERPRINT_GOODIX=m
# HS07 code for SR-AL7761A-01-172 by hehaoran at 20250317 end
# HS07 code for SR-AL7761A-01-185 by hehaoran at 20250311 start
CONFIG_FINGERPRINT_JIIOV=m
# HS07 code for SR-AL7761A-01-185 by hehaoran at 20250311 end
# HS07 code for SR-AL7761A-01-518 by yuli at 20250315 start
CONFIG_SILEAD_FP=m
# HS07 code for SR-AL7761A-01-518 by yuli at 20250315 end
CONFIG_FINGERPRINT_FOCALTECH=m
# HS07 code for HS07-5 by hehaoran at 20250221 end
# HS07 code for HS07 by tangyuhang at 20250304 start
CONFIG_TRIGGER_CRASH_BY_KEY=m
# HS07 code for HS07 by tangyuhang at 20250304 end
# HS07 code for SR-AL7761A-01-32 by tangjie at 20250317 start
CONFIG_EARJACK_NODE_SWITCH=y
# HS07 code for SR-AL7761A-01-32 by tangjie at 20250317 end
# HS07 code for P250507-09460 by huabinchen at 20250508 start
CONFIG_MTK_VIDEO_LM3643=n
CONFIG_MTK_VIDEO_LM3644=n
CONFIG_MTK_FLASHLIGHT_PT=n
CONFIG_MTK_FLASHLIGHT_PT_STRICT=n
CONFIG_MTK_FLASHLIGHT_DLPT=n
# HS07 code for P250507-09460 by huabinchen at 20250508 end
# HS07 code for HS07-899 at 20250528 start
CONFIG_HPERF_ENABLE=m
# HS07 code for HS07-899 at 20250528 end
