CONFIG_CUSTOM_PROJECT_HST11=y
# HST11 code for AX7800A-623 by zhangziyi at 20250429 start
CONFIG_CUSTOM_USBIF=m
# HST11 code for AX7800A-623 by zhangziyi at 20250429 end
# Tab A9 code for SR-AX6739A-01-515 by lina at 20230505 start
CONFIG_BATTERY_ID_ADC=m
# Tab A9 code for SR-AX6739A-01-515 by lina at 20230505 end
# HST11 code for AX7800A-354 by huangpengyu at 20250421 start
CONFIG_ODM_SEC_COMMON=m
CONFIG_TOUCHSCREEN_MTK_TOUCH="hxchipset jdchipset"
CONFIG_DRM_PANEL_BIAS_VDO=m
CONFIG_DRM_LCD_HX83102E_LC_HKC_VIDEO=m
CONFIG_DRM_LCD_HX83102G_XY_INX_VIDEO=m
CONFIG_DRM_LCD_JD9366TC_XY_CSOT_VIDEO=m
CONFIG_DRM_LCD_DEFAULT_MIPI_FHD_VIDEO=m
# HST11 code for AX7800A-354 by huangpengyu at 20250421 end
#HS07 V code for SR-AL7761A-01-373 by zhongbin at 2025/03/25 start
CONFIG_CUSTOM_KERNEL_IMGSENSOR="a1101cxtbackgc08a8_mipi_raw a1102hdybackgc08a8_mipi_raw a1103cxtbacksc820cs_mipi_raw a1101cxtfrontgc05a2_mipi_raw a1102wxfrontsc521cs_mipi_raw a1103hdyfrontgc05a2_mipi_raw"
#HS07 V code for SR-AL7761A-01-373 by zhongbin at 2025/03/25 end
# Tab A9 code for SR-AX6739A-01-194 by yingboyang at 20230425 start
CONFIG_EARJACK_NODE_SWITCH=y
# Tab A9 code for SR-AX6739A-01-194 by yingboyang at 20230425 end
# Tab A9 code for AX6739A-30 by qiaodan at 20230502 start
CONFIG_ODM_BOARD_ID_STATUS_SUPPORT=m
# Tab A9 code for AX6739A-30 by qiaodan at 20230502 end
CONFIG_INPUT_SAR=m
# Tab A11 code for AX7800A-19 by lichang at 20240410 start
CONFIG_SAR_SX9378=m
CONFIG_SAR_HX9031=m
# Tab A11 code for AX7800A-19 by lichang at 20240410 end
# HST11 code for AX7800A-28 by zhangziyi at 20250408 start
CONFIG_CHARGER_UPM6922P=m
CONFIG_TCPC_UPM6922P=m
CONFIG_SCV89601P_CHARGER=m
CONFIG_TCPC_SCV89601P_PD=m
# Tab A9 code for SR-AX6739A-01-490 by qiaodan at 20230504 start
CONFIG_GXY_PSY_SYSFS=m
# Tab A9 code for SR-AX6739A-01-490 by qiaodan at 20230504 end
# Tab A9 code for SR-AX6739A-01-499 by wenyaqi at 20230515 start
CONFIG_AFC_CHARGER=m
# Tab A9 code for SR-AX6739A-01-499 by wenyaqi at 20230515 end
#Tab A9 code for SR-AX6739A-01-348 by Niebingling at 20230506 start
CONFIG_HQ_SIM_TRAY_CHECK=m
# Tab A9 code for SR-AX6739A-01-348 by Niebingling at 20230506 end
# Tab A9 code for SR-AX6739A-01-371 by tangyuhang at 20230526 start
CONFIG_TRIGGER_CRASH_BY_KEY=m
# Tab A9 code for SR-AX6739A-01-371 by tangyuhang at 20230526 end
# Tab A9 code for SR-AX6739A-01-461 by qiaodan at 20230607 start
CONFIG_GXY_VBUS_CTRL=m
# Tab A9 code for SR-AX6739A-01-461 by qiaodan at 20230607 end
# Tab A9 code for SR-AX6739A-01-452 by gaozhengwei at 20230612 start
CONFIG_GXY_PWRON_ALARM=m
# Tab A9 code for SR-AX6739A-01-452 by gaozhengwei at 20230612 end
# Tab A9 code for AX6739A-1334 by gaozhengwei at 20230620 start
# HST11 code for AX7800A-28 by zhangziyi at 20250408 end
# HST11 code for AX7800A- by wenyaqi at 20250430 start
CONFIG_BATTERY_AUTH_SLE956681=m
# HST11 code for AX7800A- by wenyaqi at 20250430 end
# Tab A9 code for AX6739A-1334 by gaozhengwei at 20230620 end
#Tab A9 code for AX6739A-2537 by lina at 20230728 start
CONFIG_GXY_VIRTUAL_BACK_TEMP=m
CONFIG_GXY_VIRTUAL_FRONT_TEMP=m
#Tab A9 code for AX6739A-2537 by lina at 20230728 end
# HST11 code for AX7800A-6 by wangletian at 20250401 start
CONFIG_KNOXVAULT_POWER=m
# CONFIG_I2C_KNOXVAULTDEV is not set
# HST11 code for AX7800A-6 by wangletian at 20250401 end
# Tab A11 code for AX7800A-743 by hujincan at 20250513 start
CONFIG_SND_SOC_ANALOG_PA=m
# Tab A11 code for AX7800A-743 by hujincan at 20250513 end
# Tab A11 code for AX7800A-1996 at 20250606 start
CONFIG_HPERF_ENABLE=m
# Tab A11 code for AX7800A-1996 at 20250606 start
